@model IEnumerable<Blasterify.Models.Model.MovieModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header-->
<header class="bg-dark" style="position: relative; margin: 0px; padding: 0px;">
    <img src="https://firebasestorage.googleapis.com/v0/b/blasterify.appspot.com/o/multimedia%2Fwelcome%2FOppenheimer.jpg?alt=media&token=b03b41f9-1ced-4e96-b926-589f6896f206"
         style="width: 100%; height: 100%; object-fit: cover;" />
</header>

<!-- Section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {
                if (item.IsFree)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-warning text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">Free</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.FirebasePosterId" alt="@item.Title" />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Title</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Shop/Movie?id=@item.Id">View</a></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.FirebasePosterId" alt="@item.Title" />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Title</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <div class="text-center mb-2">
                                    <a class="btn btn-outline-dark mt-auto" href="/Shop/Movie?id=@item.Id">View</a>
                                </div>

                                <div class="text-center">
                                    @if(item.IsAdded)
                                    {
                                        <button class="btn btn-outline-dark mt-auto add-cart" id="add-to-cart-btn-@item.Id" data-id="@item.Id">
                                            Remove from cart
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-dark mt-auto add-cart" id="add-to-cart-btn-@item.Id" data-id="@item.Id">
                                            Rent for $@item.Price
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            ShowCartCount(0);
        });

        function ShowGenres() {
            jQuery.ajax({
                url: "@Url.Action("ShowGenres", "Home")",
                type: "GET",
                dataType: "json",
                contentTyoe: "application/json; charset=utf-8",
                success: function (result) {
                    console.log(result);
                },
            })
        }

        $(document).on("click", "button.add-cart", function () {
            var id = $(this).data("id");
            console.log(id);
            jQuery.ajax({
                url: '@Url.Action("AddToCartRequest", "Home")',
                type: 'POST',
                data: JSON.stringify({ id: id }),
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.isSuccess) {
                        ShowCartCount(result.cartCount);
                        $("#add-to-cart-btn-" + id).text(result.textValue);
                    }
                },
            });
        });
    </script>
}